# ignore all
/*
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# but not this
!.gitignore
!.gitattributes
![Pp]rojectSettings
![Pp]ackages
![Aa]ssets
